<form id="login-form" class="container">
    <h2>Zaloguj się</h2>
    <br>
    <div class="form-group label-static is-empty">
        <label for="username" class="control-label">Nick</label>
        <input id="username" class="form-control" type="text" name="username" placeholder="Wpisz nazwę użytkownika">

        <label for="password" class="control-label">Hasło</label>
        <input id="password" class="form-control" type="password" name="password" placeholder="Wpisz hasło">
    </div>
    <button type="submit" class="btn btn-info waves-effect">Zaloguj się</button>
</form>