<form id="register-form" class="container register-form">
    <h2>Zarejestruj się</h2>
    <br>
    <div class="form-group label-static is-empty">
        <label for="username" class="control-label">Nick</label>
        <input id="username" class="form-control" type="text" name="username" placeholder="Wybierz nazwę użytkownika">

        <label for="email" class="control-label">E-mail</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Wpisz adres E-mail">

        <label for="password" class="control-label">Hasło</label>
        <input id="password" class="form-control" type="password" name="password" placeholder="Wpisz hasło">
        </div>

        <button type="submit" class="btn btn-info waves-effect">Zarejestruj</button>

</form>